* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;

}

header {
    margin-top: 20px;
    height: 700px;
    background: url(./images/marvel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-section {
    height: 300px;
}

.search {
    display: flex;
    align-items: center;
    height: 200px;
}

.search-input {
    margin: 0 auto;
    height: 40px;
    width: 800px;
    border: 1px solid rgba(153, 153, 153, 0.432);
    border-bottom: 1.5px solid rgba(95, 95, 95, 0.61);
    border-right: 1.5px solid rgba(95, 95, 95, 0.61);
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

nav {
    height: 50px;
    background-color: rgb(27, 27, 27);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
}

.marvel-logo {
    width: 150px;
    height: 50px;
}

.results-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 300px 0 300px;
}

.character-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 20px;
    width: 225px;
    height: 350px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    /*clip-path: polygon(0% 0%, 100% 0, 100% 93%, 93% 100%, 0% 100%);*/
    clip-path: polygon(0% 0%, 100% 0, 100% 94%, 93% 100%, 0% 100%);
}

.character-box:hover {
    transform: scale(1.1);
}

.char-images {
    /*width: 350px;*/
    height: 60%;
    /*height: 450px;*/
    border-bottom: 4px solid red;
}

.marvel-heading {
    font-size: 16px;
}

.marvel-heading-box {
    background: #151515;
    color: #fff;
    height: 40%;
    padding: 20px;

}


